@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<nav>
    <ul>
    <li class="active"><a href="index.html" >Home</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-page="/roasting">Roasting</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-page="/grinding">Grinding</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-page="/brewing">Brewing</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-page="/drinks">Drinks</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-page="/survey">Survey</a></li>
    </ul>
</nav>

<h1>All About Coffee</h1>
<aside>
<blockquote>We want to do a lot of stuff; we're not in great shape.<br> We didn't get a good night's sleep.<br> 
We're a little depressed. <br>Coffee solves all these problems in one delightful little cup.</blockquote>
- Jerry Seinfeld
</aside>
<section>
<img style="float:left; margin-right:20px;" src="images/1.jpg" alt="A Cup of Coffee" width="250" height="250" />
<p>Coffee preparation is the process of turning coffee beans into a beverage. While the particular steps 
vary with the type of coffee and with the raw materials, the process includes four basic steps; raw coffee beans
 must be roasted, the roasted coffee beans must then be ground, the ground coffee must then be mixed with hot water
 for a certain time (brewed), and finally the liquid coffee must be separated from the used grounds.</p>

<p>Coffee is usually brewed immediately before drinking. In most areas, coffee may be purchased unprocessed,
 or already roasted, or already roasted and ground. Coffee is often vacuum packed to prevent oxidation and 
 lengthen its shelf life.</p>

<p>To learn more about coffee, just browse our informative site, or you can visit 
<a href="http://en.wikipedia.org/wiki/Coffee_preparation">http://en.wikipedia.org/wiki/Coffee_preparation</a> wikipedia for even more.</p>
</section>
